heat_template_version: 2013-05-23
description: A Rackspace server
parameters:
  flavor:
    type: string
    description: flavor used by the servers
    default: 1 GB Performance
resources:
  level2_server:
    type: Rackspace::Cloud::Server
    properties:
      flavor: {get_param: flavor}
      image: 2936a16d-ee01-452c-a6ab-7117df5196f8
  provider_resource:
    type: https://raw.githubusercontent.com/vikomall/heat-templates/master/dev/provider3.template
    properties:
      image: 2936a16d-ee01-452c-a6ab-7117df5196f8  # Ubuntu 13.10 (Saucy Salamander)
